<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
  <head>
    <title>El trabajo de tus diputados</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="El trabajo de tus diputados" />
    <meta name="description" content="Agregador de estadisticas sobre el trabajo de los diputados federales en Mexico" />
    <meta name="keywords" content="diputados estadisticas opendata congreso mexico camara" />
    <meta name="language" content="es" />
    <meta name="subject" content="estadisticas" />
    <meta name="robots" content="All" />
    <meta name="copyright" content="TidySlice" />
    <meta name="abstract" content="Agregador de estadisticas sobre el trabajo de los diputados federales en Mexico" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
	<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
	<link id="theme" rel="stylesheet" type="text/css" href="styles/style.css" title="theme" />
	<link rel="stylesheet" href="styles/reset-fonts-grids.css" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light' rel='stylesheet' type='text/css'>
	<script type="text/javascript" language="javascript" src="js/addon.js"></script>
	<script type="text/javascript" language="javascript" src="js/custom.js"></script>
  </head>
  <body class="favourings firefox western es signin-island" id="profile_favorites"> 
    <!-- top wrapper -->  
    <div id="topWrapper"> 
      <div id="topBanner"></div> 
    </div>  
    <div id="topnav"> 
      <ul>
        <li id="current" style="border:none">
          <a href="/" shape="rect">Iniciativas</a>
        </li>
        <li>
          <a href="#" shape="rect">Acerca de</a>
        </li>
      </ul> 
    </div>  
    <!-- end top wrapper -->  
    <div id="wrapper"> 
      <div id="container"> 
 
        <div class="slideshow"> 
            <!--grid-->
			<div class="yui-g">
		    <div class="yui-u first">
				<div class="div_rightbordertop">
					<div class="crimson_large">
						$75, 793 - sueldo base <br/>
						$45, 786 - asistencia legislativa <br/>
						$28, 722 - atenci&oacute;n ciudadana <br/>
						<hr/>
					</div>
					<div class="crimson_large_color">	
						$150, 301 - sueldo mensual
					</div>
				</div>
		</div>
		    <div class="yui-u">
				<div class="div_leftbordertop">
				<table>
					<tr>
						<td>
							<img src="images/diputados.png" alt="diputados"/>
						</td>
						<td>
							<div class="crimson_large">
								500 diputados = $75, 150, 500 / Mes 
							</div>
						</td>	
					</tr>
				</table>	

				</div>
		    </div>
		</div>
		<!--segunda fila-->
		<div class="yui-g"> 
			    <div class="yui-u first">
				<div>
					<div class="div_rightborderbottom">
					<div class="crimson_large">
					<br/>
						Sueldo en Salarios M&iacute;nimos<br/> (Zona A: $1723.8 / Mes)  </div>						
				<img src="http://chart.apis.google.com/chart?chxt=x&chbh=30&chs=320x100&cht=bhs&chco=505662,D2CEE4&chd=t:4.17|87&chdl=Salario+promedio+ (4.17+SM)|Salario+diputados+(87.19+SM)&chdlp=b" width="320" height="90" alt="grafica salarios" />
				</div>
				</div>
		   </div>
		    <div class="yui-u">
				<div class="div_leftborderbottom">
					<div class="crimson_large_color">
						<br/>
					&iquest;Lo valen? <br/>
					Este sitio presenta datos sobre la actividad 
					legislativa de los diputados federales de M&eacute;xico
					para que t&uacute; lo analices.
					
					</div> 
					<br/><br/>
					</div>	
				</div>
		</div>
      
        </div>  
        <!--  content -->  
        <div id="content"> 
         
            <div class="clear" style="height:40px"></div> 
			<!--Top 10 diputados-->
            <div> 
              	{% ifequal tipo "presentadas"%}
					<p class="crimson_medium">
						Iniciativas presentadas 
						| <a href='topiniciativas?tipo=numero_iniciativas_pendientes'>Iniciativas pendientes</a> 
						| <a href='topiniciativas?tipo=numero_iniciativas_aprobadas'>Iniciativas aprobadas</a> 
						| <a href='topiniciativas?tipo=numero_iniciativas_desechadas'>Iniciativas desechadas</a>
					  </p>
				{% endifequal %}
				{% ifequal tipo "numero_iniciativas_aprobadas"%}
					<p class="crimson_medium">
						<a href='/'>Iniciativas presentadas</a> 
						| <a href='topiniciativas?tipo=numero_iniciativas_pendientes'>Iniciativas pendientes</a> 
						| Iniciativas aprobadas 
						| <a href='topiniciativas?tipo=numero_iniciativas_desechadas'>Iniciativas desechadas</a>
					  </p>
				{% endifequal %}
				{% ifequal tipo "numero_iniciativas_pendientes"%}
					<p class="crimson_medium">
						<a href='/'>Iniciativas presentadas</a> 
						| Iniciativas pendientes
						| <a href='topiniciativas?tipo=numero_iniciativas_aprobadas'>Iniciativas aprobadas</a> 
						| <a href='topiniciativas?tipo=numero_iniciativas_desechadas'>Iniciativas desechadas</a>
					  </p>
				{% endifequal %}
				{% ifequal tipo "numero_iniciativas_desechadas"%}
					<p class="crimson_medium">
						<a href='/'>Iniciativas presentadas</a> 
						| <a href='topiniciativas?tipo=numero_iniciativas_pendientes'>Iniciativas pendientes</a> 
						| <a href='topiniciativas?tipo=numero_iniciativas_aprobadas'>Iniciativas aprobadas</a> 
						| Iniciativas desechadas
					  </p>
				{% endifequal %}
			  

			  <!-- iniciativas presentadas-->
				<div class="half">
					
					<h2 class="crimson_medium_blue">Top 10 diputados con m&aacute;s iniciativas</h2>
					<h2 class="crimson_medium_blue">
						{% ifequal tipo "presentadas"%}
							<a href='diputados?tipo=numero_iniciativas'>
						{% endifequal %}
						{% ifequal tipo "numero_iniciativas_aprobadas"%}
							<a href='diputados?tipo=numero_iniciativas_aprobadas'>
						{% endifequal %}
						{% ifequal tipo "numero_iniciativas_pendientes"%}
							<a href='diputados?tipo=numero_iniciativas_pendientes'>
						{% endifequal %}
						{% ifequal tipo "numero_iniciativas_desechadas"%}
							<a href='diputados?tipo=numero_iniciativas_desechadas'>
						{% endifequal %}
						
							ver lista completa
						</a>
					</h2>  
					<br />
					<ol class="toplist">
						
						{% for diputado in topDiputados %}
						<li>
							<div class="diplist">
								<div style="width:200px;
								height:131px;
								background-image:url('{{diputado.foto}}');
								background-position:right;
								float: left;
								margin: 0 0 10px 10px;"></div>	
								<p><a href='diputado?id={{diputado.uuid}}'>{{diputado.nombre}}</a></p> 
								<p><span class="numero">
									    {% ifequal tipo "presentadas"%}
											{{diputado.numero_iniciativas}} 
										{% endifequal %}
										{% ifequal tipo "numero_iniciativas_aprobadas"%}
											{{diputado.numero_iniciativas_aprobadas}} 
										{% endifequal %}
										{% ifequal tipo "numero_iniciativas_pendientes"%}
											{{diputado.numero_iniciativas_pendientes}} 
										{% endifequal %}
										{% ifequal tipo "numero_iniciativas_desechadas"%}
											{{diputado.numero_iniciativas_desechadas}} 
										{% endifequal %}
										iniciativas
									</span>
								</p>
								{% ifequal diputado.partido "PRI"%}
								<p>
									<img src='/images/logo_pri.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "PAN"%}
								<p>
									<img src='/images/logo_pan.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "PRD"%}
								<p>
									<img src='/images/logo_prd.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "PT"%}
								<p>
									<img src='/images/logo_pt.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "Convergencia"%}
								<p>
									<img src='/images/logo_convergencia.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "Partido Verde"%}
								<p>
									<img src='/images/logo_pv.png'/>
								</p>			
								{% endifequal %}

								{% ifequal diputado.partido "Alianza"%}
								<p>
									<img src='/images/logo_alianza.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "Independiente"%}
								<p>
									Independiente
								</p>			
								{% endifequal %}

								
							</div>
						</li>
						{% endfor %}
					</ol>	

				</div>
				<!-- iniciativas presentadas-->
				<div class="half last">
					<h2 class="crimson_medium_blue">Top 10 diputados con menos iniciativas</h2>
					<h2 class="crimson_medium_blue"><a href='diputados'>ver lista completa</a></h2>  
					<br /> 					
			  		<ol class="toplist">
					{% for diputado in downDiputados %}
						<li>
							<div class="diplist">
									<div style="width:200px;
									height:131px;
									background-image:url('{{diputado.foto}}');
									background-position:right;
									float: left;
									margin: 0 0 10px 10px;"></div>
								<p><a href='diputado?id={{diputado.uuid}}'>{{diputado.nombre}}</a></p> 
								<p><span class="numero">
									    {% ifequal tipo "presentadas"%}
											{{diputado.numero_iniciativas}} 
										{% endifequal %}
										{% ifequal tipo "numero_iniciativas_aprobadas"%}
											{{diputado.numero_iniciativas_aprobadas}} 
										{% endifequal %}
										{% ifequal tipo "numero_iniciativas_pendientes"%}
											{{diputado.numero_iniciativas_pendientes}} 
										{% endifequal %}
										{% ifequal tipo "numero_iniciativas_desechadas"%}
											{{diputado.numero_iniciativas_desechadas}} 
										{% endifequal %}
										iniciativas
									</span>
								</p>
								{% ifequal diputado.partido "PRI"%}
								<p>
									<img src='/images/logo_pri.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "PAN"%}
								<p>
									<img src='/images/logo_pan.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "PRD"%}
								<p>
									<img src='/images/logo_prd.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "PT"%}
								<p>
									<img src='/images/logo_pt.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "Convergencia"%}
								<p>
									<img src='/images/logo_convergencia.png'/>
								</p>			
								{% endifequal %}
								{% ifequal diputado.partido "Partido Verde"%}
								<p>
									<img src='/images/logo_pv.png'/>
								</p>			
								{% endifequal %}

								{% ifequal diputado.partido "Alianza"%}
								<p>
									<img src='/images/logo_alianza.png'/>
								</p>			
								{% endifequal %}
							</div>
						</li>
					{% endfor %}
					</ol>
				</div>		
			
			
            </div>  

			
          </div>  
          <div class="clear"></div> 
        </div>  
        <!-- end content -->  
        <div class="clear" style="height:40px"></div> 
      </div>  
      <!-- end container --> 
    </div>  
    <div id="bottomWrapper"> 
      <div id="footer"> 
        
      </div>  
      <div id="bottom-links"> 
        <div style="padding-top:20px"> 
          <!--
KEEP THE FOLLOWING CODE IN RESPECT WITH COPYRIGHT OR MAKE 
A $10 DONATION AT WWW.DOTEMPLATE.COM IF YOU WANT TO REMOVE IT 
--> Web template created with 
          <a href="http://www.dotemplate.com" shape="rect">doTemplate</a> 
        </div> 
      </div> 
    </div>
 	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-12863649-5']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
